.WeatherApp {
  text-align: center;
  background-color: #dfe4f0;
  margin: 0px;
  padding: 0px;
}

.React-logo {
  animation: App-logo-spin infinite 23s linear;
  height: 40vmin;
  position: absolute;
  z-index: 20;
}

.Sun-logo {
  animation: Sun-spin infinite 42s linear;
  height: 50vmin;
  position: absolute;
  z-index: 10;
}

.WeatherApp-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font: arial;
}

.WeatherApp-body {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font: arial;
}

.WeatherApp-footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font: arial;
}

.WeatherApp-text {
  color: #00b4cc;
  font-size: calc(12px + 2vmin)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Sun-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
